<!--The content below is only a placeholder and can be replaced.-->
<div class="main ">
  <div style="text-align:left">
    <h1>
      {{ title }}
    </h1>
  </div>
  <h2>HEllo Baby Here we start!.</h2>
    <mat-list>
      <mat-list-item>
        <button mat-flat-button>Fashion</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button>Food</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button>Art</button>
      </mat-list-item>
    </mat-list>
  <router-outlet></router-outlet>
</div>

